build_*/
out/
doc/
*.pyc
*.bak
*.autosave
*.swp
.DS_Store
*.user
build/bw_internal*
build/ci*
src/core/third_party/cmake*
src/core/third_party/perforce*
src/core/third_party/python/Python-*
src/core/third_party/python/.gitattributes
build-*/
